@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* scroll-behavior: smooth; */
    font-family: 'Barlow', sans-serif; 
    /* font-size: 20px; */
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Fraunces', serif;
  }
  
  .debug {
    border: 2px solid goldenrod;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
}

@layer components {
  .btn {
    @apply uppercase font-serif tracking-widest font-bold text-xs text-neutral-desaturated-blue rounded-3xl p-4 text-center inline-block;
  }

  .btn-sm-screen {
    @apply bg-primary-yellow 
  }

  .btn-lg-screen {
    @apply bg-white transition hover:bg-transparent/5 focus:bg-transparent/5;
  }

  .underline-link {
    @apply text-neutral-desaturated-blue underline underline-offset-auto decoration-[5px] uppercase tracking-widest text-xs font-serif transition hover:underline-offset-1 focus:underline-offset-1;
  }

  .underline-link-yellow {
    @apply decoration-primary-yellow/50 hover:decoration-primary-yellow focus:decoration-primary-yellow;
  }

  .underline-link-red {
    @apply decoration-primary-red/50 hover:decoration-primary-red focus:decoration-primary-red;
  }

  .custom-filter {
    @apply brightness-0 invert;
  }
}